* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: black;
}

.header button {
    align-items: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    margin: 10px;
}

.intro>h1 {
    margin-bottom: 5px;
}

.intro>p {
    margin-bottom: 10px;
}

.intro .intro-buttons {
    margin-top: 5p;
}

.intro button {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

.cards-row-1 {
    display: flex;
    margin: 20px;
}

.card {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-grow: .6; */
    margin: 10px;
}

.card-bottom {
    display: flex;

}

.thumbnail {
    height: 200px;
    background: #55595c;
    display: flex;
    justify-content: center;
    align-items: center;
}